<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>asdasd</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Author.Upload</servlet-name>
    <servlet-class>Author.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Author.Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Author.SendEmail</servlet-name>
    <servlet-class>Author.SendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Author.SendEmail</servlet-name>
    <url-pattern>/SendEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Author.Download</servlet-name>
    <servlet-class>Author.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Author.Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Author.SubmissionGuide</servlet-name>
    <servlet-class>Author.SubmissionGuide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Author.SubmissionGuide</servlet-name>
    <url-pattern>/SubmissionGuide</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Author.ReUpload</servlet-name>
    <servlet-class>Author.ReUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Author.ReUpload</servlet-name>
    <url-pattern>/ReUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginSystem.LoginServlet</servlet-name>
    <servlet-class>loginSystem.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginSystem.LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reviewer.ReviewerLogin</servlet-name>
    <servlet-class>reviewer.ReviewerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reviewer.ReviewerLogin</servlet-name>
    <url-pattern>/ReviewerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginSystem.Signup</servlet-name>
    <servlet-class>loginSystem.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginSystem.Signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginSystem.Logout</servlet-name>
    <servlet-class>loginSystem.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginSystem.Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reviewer.AccessUnpublishedArticles</servlet-name>
    <servlet-class>reviewer.AccessUnpublishedArticles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reviewer.AccessUnpublishedArticles</servlet-name>
    <url-pattern>/AccessUnpublishedArticles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editor.EditorRetireAndAppointOne</servlet-name>
    <servlet-class>editor.EditorRetireAndAppointOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editor.EditorRetireAndAppointOne</servlet-name>
    <url-pattern>/EditorRetireAndAppointOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editor.EditorAppointOne</servlet-name>
    <servlet-class>editor.EditorAppointOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editor.EditorAppointOne</servlet-name>
    <url-pattern>/EditorAppointOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editor.EditorRetire</servlet-name>
    <servlet-class>editor.EditorRetire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editor.EditorRetire</servlet-name>
    <url-pattern>/EditorRetire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editor.EditorArticleDetail</servlet-name>
    <servlet-class>editor.EditorArticleDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editor.EditorArticleDetail</servlet-name>
    <url-pattern>/ArticleDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editor.EditorGetAllJournals</servlet-name>
    <servlet-class>editor.EditorGetAllJournals</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editor.EditorGetAllJournals</servlet-name>
    <url-pattern>/EditorGetAllJournals</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reader.Search</servlet-name>
    <servlet-class>reader.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reader.Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reviewer.DownloadArticle</servlet-name>
    <servlet-class>reviewer.DownloadArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reviewer.DownloadArticle</servlet-name>
    <url-pattern>/DownloadArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reviewer.SubmitReview</servlet-name>
    <servlet-class>reviewer.SubmitReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reviewer.SubmitReview</servlet-name>
    <url-pattern>/SubmitReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editor.EditorEditJournal</servlet-name>
    <servlet-class>editor.EditorEditJournal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editor.EditorEditJournal</servlet-name>
    <url-pattern>/EditorEditJournal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reader.DealArticleInfo</servlet-name>
    <servlet-class>reader.DealArticleInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reader.DealArticleInfo</servlet-name>
    <url-pattern>/DealArticleInfo</url-pattern>
  </servlet-mapping>
</web-app>