<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>asdasd</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Author.Upload</servlet-name>
    <servlet-class>Author.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Author.Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Author.SendEmail</servlet-name>
    <servlet-class>Author.SendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Author.SendEmail</servlet-name>
    <url-pattern>/SendEmail</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Author.Download</servlet-name>
    <servlet-class>Author.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Author.Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>loginSystem.LoginServlet</servlet-name>
  	<servlet-class>loginSystem.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginSystem.LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>reviewer.ReviewerLogin</servlet-name>
  	<servlet-class>reviewer.ReviewerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>reviewer.ReviewerLogin</servlet-name>
  	<url-pattern>/ReviewerLogin</url-pattern>
  </servlet-mapping>
  
</web-app>